body {
    background-color: green;
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#vegas {
    position: absolute;
    left: 20px;
    top: 10px;
    height: 250px;
    width: 350px;
}
#casino {
    position: absolute;
    left: 20px;
    bottom: 10px;
    height: 400px;
    width: 500px;
}
#tenor-gif-embed {
    position: absolute;
    right: 20px;
    bottom: 50px;
    height: 200px;
    width: 200px;
}
img {
    width: 150px;
    height: 250px;
    border-radius: 20px;
}

button {
    border-radius: 40px;
    width: 180px;
    height: 70px;
    border-style: none;
    margin: 10px;
    font-size: 16pt;
    background-color: goldenrod;
}
